<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
</head>

<body th:inline="text">


    <span style="display: none !important; font-size:0; line-height:0" th:text="${summary}"></span>
    <table cellSpacing="0" cellPadding="0" align="center" border="0" style="width:100%;max-width:600px;">
        <tr>
            <td align="center">
                <a href="https://www.karmaandchi.com/" target="_blank"><img src="https://www.karmaandchi.com/mylogo.png"
                        alt="logo" width="40%" /></a>
            </td>
        </tr>
    </table>

    <table cellSpacing="0" cellPadding="0" align="center" border="0"
        style="width:100%;max-width:600px;margin-top:10px;">
        <tr>
            <td>
                <p>
                    Hello! <span th:text="${firstname}"></span>:
                </p>
                <p>We are resetting the password for your registered account.</p>
                <p>If you did not request this action, please ignore this email.</p>
                <p>To reset your password, please click the link below.</p>
                <p>This link will expire in 30 minutes, so please change your password as soon as possible.</p>
                <a th:href="@{https://www.karmaandchi.com/account/reset(token=${token})}"
                    style="text-decoration: underline;color:#0000ee;">Change your password</a>
            </td>
        </tr>
    </table>


    <table cellSpacing="0" cellPadding="0" align="center" border="0" style="width:100%;max-width:600px;">
        <tr>
            <td>
                <img src="https://www.karmaandchi.com/emailImg/fgx1.jpg" alt="" width="100%" />
            </td>
        </tr>
    </table>
    <table cellSpacing="0" cellPadding="0" align="center" border="0"
        style="width:100%;max-width:600px;font-size:16px;font-weight: 500; line-height:29px;background:#e3cdb6;">
        <tr align="center">
            <td style="border-right:3px solid #fff;">
                <a href="https://www.karmaandchi.com/bestSeller" style="color:#000;text-decoration:none;"
                    target="_blank">Best Seller</a>
            </td>
            <td style="border-right:3px solid #fff;">
                <a href="https://www.karmaandchi.com/saveUpTo70" style="color:#000;text-decoration:none;"
                    target="_blank">Discount</a>
            </td>
            <td style="border-right:3px solid #fff;">
                <a href="https://www.karmaandchi.com/trending" style="color:#000;text-decoration:none;"
                    target="_blank">Trending</a>
            </td>
        </tr>

    </table>
    <table align="center" cellpadding="0" cellspacing="0" style="width:100%;max-width:600px;">
        <tr>
            <td>
                <p style="font-size:14px;color:#000;line-height:25px;">
                    If you have any questions or concerns, please do not hesitate to contact our customer service
                    team.<br />
                    You can reach us at: <a href="mailto:sale@karmaandchi.com">sale@karmaandchi.com</a><br />
                    Our business hours are Monday to Friday:<br />
                    09:30 AM - 12:00 PM and 02:00 PM - 06:00 PM (local time)<br />
                    Thank you for your continued support!<br /></p>
            </td>
        </tr>
    </table>
</body>

</html>