/* .editable-cell-value-wrap{
    height:20px;
} */

.ant-table-cell {
  padding: 0 !important;
  border: 1px solid #000 !important;

}

.ant-table-content {
  border: 1px solid #000 !important;
}

tr.drop-over-downward td {
  border-bottom: 3px dashed #1890ff !important;
}

tr.drop-over-upward td {
  border-top: 3px dashed #1890ff !important;
}

